*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid rebeccapurple; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, sans-serif;
  background-color: seagreen;
  color: #111;
  line-height: 1.5;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.translate {
  transform: translateX(5rem);
}

.whitespace,
h1,
h2 {
  margin: 0;
  padding: 0;
}

img {
  width: 40px;
  height: 40px;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212121;

  &::hover {
    transition: all 0.3s ease-in-out;
  }
  &:focus-visible {
    color: #0074e8;
    outline: none;
  }
}

#encabezado {
  width: 100vw;
  align-content: center;
}

nav {
  justify-content: space-between;
  padding: 0 5rem;
  height: 6rem;
  text-transform: uppercase;
  background-color: #f0f0f0;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1.8rem;

  a:hover {
    color: #0074e8;
  }
}

.isotipo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 4rem;

  &:hover {
    transform: rotate(35deg) scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}

.navlinks {
  gap: 0 2rem;
}

form {
  gap: 0 2rem;
}

form input {
  all: unset;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  overflow: hidden;
  padding: 0.6rem 1.5rem;
  display: none;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  &:focus {
    border: 2px solid rgb(0, 116, 232);
    text-transform: none;
  }

  &::placeholder {
    text-transform: uppercase;
  }
}

.searchtbn img {
  width: 2.2rem;
  height: 2.2rem;
}

.auth {
  padding-left: 4rem;
  gap: 0 2rem;
}

.menu {
  cursor: pointer;
}

.menu > img {
  width: 2.6rem;
  height: 2.6rem;
  /* display: none; */
}

.banner_cta a {
  padding: 1rem 2rem;
  border-radius: 100vmax;
}

.banner_cta a:hover {
  color: #212121;
  background-color: white;
  transition: all 0.3s ease;
}

.banner_cta {
  background: url("assets/background.webp") no-repeat center/cover;
  height: 100vh;
}

@media (width < 1200px) {
  .navlinks {
    display: none;
  }
  .auth {
    display: none;
  }
  .menu {
    display: block;
  }
}
